body {
  font-family: "Roboto", sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

h1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.subtitle {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.55);
  display: block;
}

.title-container {
  margin-bottom: 32px;
}
